{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fr - categoria</title>

    <link rel="stylesheet" href="{% static 'financr/css_da_tela_criar_conta/style_categoria.css' %}">

    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Roboto Muito Fino -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 

</head>
<body>
    
    <div class="global">

        <div class="categoria_conta">

            <div class="cabecalho">

                <h1>Criar Categoria</h1>
    
                <a href="{% url 'app_home' %}">
                <div class="xiz">
                    <div id = 'one' > </div>
                    <div id = 'two' > </div>
                </div>
                </a>
    
            </div>

            <form action = "" id = 'formulario_categoria' method = "POST">

                {% csrf_token %}

                <div class="div_erros">

                    {% if form.errors%}
                    <div class="div_formatacao_erros">
                        
                            {{form.errors}}
                            <img src="https://img.pngio.com/index-of-v2-imgs-x-png-black-and-white-256_256.png" alt="" height = "30px" width = "30px" id = 'txt_fechar'>

                        
                    </div>
                    {% endif %}

                </div>

                <div class="conta_a_categoria">

                    <h4 id = 'titulo_de_selecionar_conta'>
                        Nome da Categoria
                    </h4>
    
                    {{form.categoria}}
                    <!-- <select name="" id = "select_conta"></select> -->
                    
                </div>
    
                <div class="div_select">

                    <h4 id = 'txt_tipo_de_transacao'>
                        Tipo de Transação
                    </h4>

                    {{form.classe_transacao}}
    
                </div>
    
                <div class="div_salvar_sair">
    
                    <div class="div_botoes">
    
                        <input type="submit" value = "Adicionar" id = 'adicionar'>
    
                        <input type = "reset" value = "Resetar" id = 'resetar'>
    
                    </div>
    
                </div>

            </form>

        </div>

    </div>
    
    <script src = "{% static 'financr/arquivos_js/js_conta/scriptconta.js' %}"></script>

</body>
</html>