html, body {

    margin: 0;
    font-size: 62.5%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

    
    
}


.global {

    height: 100vh;
    width: 100%;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.categoria_conta {

    border: black 0.4px solid;
    border-radius: 1%;
    height: auto;
    width: 30%;
    margin: auto;
    background-color: white;

}


.cabecalho {

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 1vh;
    margin-bottom: 0vh;

}


.xiz {

    width: 40px;
    height: 0px;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#one,
#two {

    background-color: black;
    height: 3px;
    width: 90%;


}

.xiz #one {

    transform: rotate(45deg) translate(-1px, 1px);

}

.xiz #two {

    transform: rotate(-45deg) translate(1px, -5px);

}



#formulario_categoria {

    height: auto;
    padding-bottom: 6vh;

}

.div_formatacao_erros {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 1.8rem;
    border-radius: 1%;
    height: 100%;
    background: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.errorlist {

    margin-right: 5vw;
    padding-right: 2vw;

}

#txt_fechar {

    align-self: baseline;
    margin-top: 32vh;
    
}


.conta_a_categoria {

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    

}

#titulo_de_selecionar_conta {

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;
    margin-bottom: 1.2vh;

}

#id_categoria {

    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #333335;
    background-color: transparent;
    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    width: 100%;

}


.div_select {

    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 4vh;


}

#txt_tipo_de_transacao {

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;
    margin-top: 1vh;
    margin-bottom: 1.9vh;
    text-align: left;

}

#id_classe_transacao {

    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: transparent;
    width: 98%;
    border: 0.3px black solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

}


.div_salvar_sair {
 
    width: 90%;
    height: 5vh;
    margin: auto;
    margin-top: 5vh;

}

.div_botoes {

    display: flex;
    width: 100%;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#adicionar {

    background-color: #e43a15;
    color: white;
    border: 0;
    border-radius: 10%;
    height: 6vh;
    width: 24%;
}

#resetar {

    background-color: #00d2ff;
    color: white;
    border: 0;
    border-radius: 10%;
    height: 6vh;
    width: 23.5%;

}

@media (max-width: 1081px) {

    .categoria_conta {

        width: 44%;

    }

    #titulo_de_selecionar_conta {

        font-size: 2.1rem;

    }

    #id_categoria {

        font-size: 2.4rem;

    }

    #txt_tipo_de_transacao {

        font-size: 2.1rem;

    }

    #id_classe_transacao {

        font-size: 2.4rem;

    }

}

@media (max-width: 900px) {

    #titulo_de_selecionar_conta {

        font-size: 1.8rem;

    }

    #id_categoria {

        font-size: 1.9rem;

    }

    #txt_tipo_de_transacao {

        font-size: 1.8rem;

    }

    #id_classe_transacao {

        font-size: 1.9rem;

    }

}

@media (max-width: 760px) {

    .categoria_conta {

        width: 54%;

    }

}

@media (max-width: 630px) {

    .categoria_conta {

        width: 75%;

    }

    #titulo_de_selecionar_conta {

        font-size: 2.1rem;

    }

    #id_categoria {

        font-size: 2.1rem;

    }

    #txt_tipo_de_transacao {

        font-size: 2.1rem;

    }

    #id_classe_transacao {

        font-size: 2.1rem;

    }

}

@media (max-width: 430px) {

    .categoria_conta {

        width: 96%;

    }

}