html, body {

    margin: 0;
    font-size: 62.5%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

    
    
}


.global {

    height: 60vh;
    width: 100%;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.categoria_conta {

    border: black 0.4px solid;
    border-radius: 1%;
    height: 46vh;
    min-height: 46vh;
    width: 28%;
    margin: auto;
    margin-top: 23vh;
    background-color: white;

}


.cabecalho {

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 1vh;
    margin-bottom: 2.7vh;

}


.xiz {

    width: 40px;
    height: 0px;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#one,
#two {

    background-color: black;
    height: 3px;
    width: 90%;


}

.xiz #one {

    transform: rotate(45deg) translate(-1px, 1px);

}

.xiz #two {

    transform: rotate(-45deg) translate(1px, -5px);

}

.conta_a_categoria {

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

#titulo_de_selecionar_conta {

    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;

}

#select_conta {

    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;
    background-color: transparent;
    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    width: 100%;

}


.div_avisos {

    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 4vh;

}

#txt_avisos {

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    letter-spacing: 0.2rem;

}


.div_salvar_sair {
 
    width: 90%;
    height: 5vh;
    margin: auto;
    margin-top: 5vh;

}

.div_botoes {

    display: flex;
    width: 24.7vw;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 35.5vh;

}

#adicionar {

    background-color: #e43a15;
    color: white;
    border: 0;
    border-radius: 10%;
    height: 5vh;
    width: 24%;
}

#resetar {

    background-color: #00d2ff;
    color: white;
    border: 0;
    border-radius: 10%;
    height: 5vh;
    width: 23.5%;

}