{% extends 'base.html' %}

{% block title %} DASHBOARD! {% endblock %}

{% block content %}
<div class="dashboard_nome_usuario">
<p class="nome_usuario">Bem vindo(a), {{ user.username|default:'Guest' }}!</p>
</div>
<div class="opcoes_home">
    {% if user.is_authenticated %}
        <a style="text-decoration: none;" href="{% url 'logout' %}">Logout</a>
        <a style="text-decoration: none;" href="{% url 'password_change' %}">Alterar Senha</a>
        <a style="text-decoration: none;" href="{% url 'dashboard' %}">Infos</a>
        <a style="text-decoration: none;" href="{% url 'nova_receita' %}">Nova Receita</a>
        <a style="text-decoration: none;" href="{% url 'nova_despesa' %}">Nova Despesa</a>
        <a style="text-decoration: none;" href="{% url 'transferencia' %}">Nova Transferência</a>
        <a style="text-decoration: none;" href="{% url 'criar_conta' %}">Criar Conta Bancária</a>
        <a style="text-decoration: none;" href="{% url 'criar_categoria' %}">Criar Categoria</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<div class="informacoes_dashboard">
    <div id="dados_usuario">
        <div id="saldos">
            <ul>
                <p>SALDOS</p>
                {% for banco in contas %}
                    <p></p>{{ banco.nome_banco }} - R${{ banco.saldo}} </p>
                    <p></p>
                {% endfor %}
            </ul>
        </div>
        <div id="bancos">
            <ul>
                <p>SUAS CONTAS</p>
                {% for banco in contas %}
                    <p></p>{{ banco.nome_banco }}</p>
                    <p></p>
                {% endfor %}
            </ul>
        </div>
        <div id="ultimas_transacoes">
            <ul>
                <p>ÚLTIMAS 3 TRANSAÇÕES:</p>
                <p>Data - Valor</p>
                {% for transacao in ultimas_transacoes %}
                    <p></p>{{ transacao.data_transacao }} - R${{ transacao.valor }}</p>
                    <p></p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div id="grafico">
</div>
{% endblock %}