{% extends 'base.html' %}

{% block title %} DASHBOARD! {% endblock %}

{% block content %}
<div class="dashboard_nome_usuario">
<p class="nome_usuario">Bem vindo(a), {{ user.username|default:'Guest' }}!</p>
</div>
<div class="opcoes_home">
    {% if user.is_authenticated %}
        <a style="text-decoration: none;" href="{% url 'logout' %}">Logout</a>
        <a style="text-decoration: none;" href="{% url 'password_change' %}">Alterar Senha</a>
        <a style="text-decoration: none;" href="{% url 'dashboard' %}">Infos</a>
        <a style="text-decoration: none;" href="{% url 'nova_receita' %}">Nova Receita</a>
        <a style="text-decoration: none;" href="{% url 'nova_despesa' %}">Nova Despesa</a>
        <a style="text-decoration: none;" href="{% url 'transferencia' %}">Nova Transferência</a>
        <a style="text-decoration: none;" href="{% url 'criar_conta' %}">Criar Conta Bancária</a>
        <a style="text-decoration: none;" href="{% url 'criar_categoria' %}">Criar Categoria</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<div class="informacoes_dashboard">
    <div id="dados_usuario">
        <div id="saldos">
            <ul>
                <p>SALDOS</p>
                {% for banco in contas %}
                    <p></p>{{ banco.nome_banco }} - R${{ banco.saldo}} </p>
                    <p></p>
                {% endfor %}
            </ul>
        </div>
        <div id="bancos">
            <ul>
                <p>SUAS CONTAS</p>
                {% for banco in contas %}
                    <p></p>{{ banco.nome_banco }}</p>
                    <p></p>
                {% endfor %}
            </ul>
        </div>
        <div id="ultimas_receitas">
            <ul>
                <p>ÚLTIMAS RECEITAS:</p>
                {% for receita in ultimas_receitas %}
                <p>DATA: {{ receita.data_transacao }} - R${{ receita.valor }}</p>
                <p></p>
                {% endfor %}
            </ul>
        </div>
        <div id="ultimas_despesas">
            <ul>
                <p>ÚLTIMAS DESPESAS:</p>
                {% for despesas in ultimas_despesas %}
                <p>DATA: {{ despesas.data_transacao }} - R${{ despesas.valor }}</p>
                <p></p>
                {% endfor %}
            </ul>
        </div>  
    </div>
    <div class="graficos">
        <div id="graficopizza">
        </div>
        <div id="graficodespesas">
        </div>
        <div id="graficoreceitas">
        </div>
    </div>
</div>
<div>
    Categorias cadastradas de receita
    {% for i in categorias_receitas %}
        <p>{{ i.categoria }}</p>
        <p></p>
    {% endfor %}
</div>
<div>
    Categorias cadastradas de despesa
    {% for i in categorias_despesas %}
        <p>{{ i.categoria }}</p>
        <p></p>
    {% endfor %}
</div>
<div>
    HISTÓRICO DE RECEITAS
    {% for i in lista_transacoes_receitas %}
        <p>descrição: {{ i.descricao }} - valor: {{ i.valor }} data {{ i.data_transacao }}</p>
        <p></p>
    {% endfor %}
</div>
<div>
    HISTÓRICO DE DESPESAS
    {% for i in lista_transacoes_despesas %}
        <p>descrição: {{ i.descricao }} - valor: {{ i.valor }} data {{ i.data_transacao }}</p>
        <p></p>
    {% endfor %}
</div>
<div>
    HISTÓRICO DE TRANSFERENCIAS
    {% for i in lista_transacoes_transferencias %}
        <p>descrição: {{ i.descricao }} - valor: {{ i.valor }} data {{ i.data_transacao }}</p>
        <p></p>
    {% endfor %}
</div>
{% endblock %}