/*
===========================================================================================
Sumário No Final da Página 
11 - Cabeçalho Com As Opçoes Home, Metas, Transações, Configuração
===========================================================================================
*/

html, body {

    margin: 0;
    font-size: 62.5%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   

}

.formatacao_cabecalho {

    justify-content: center;
    align-items: center;

}

.cabecalho {

    display: flex;
    flex-direction: row;
    opacity: 1;
    color: black;
    width: 90%;
    height: 12vh;

    margin: auto;

    text-align: center;
    align-items: center;
    justify-content: space-between;

}



.xiz {

    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#one,
#two {

    background-color: black;


}

.xiz #one {

    transform: rotate(45deg) translate(-4px, 0px);
    width: 4px;
    max-width: 4px;

    height: 6vh;
    max-height: 6vh;

}

.xiz #two {

    transform: rotate(-45deg) translate(-1px, -5px);
    width: 4px;
    max-width: 4px;

    height: 5.5vh;
    max-height: 5.5vh;

}



.div_nome_app {

    z-index: 2;

}

#nome_do_app {

    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;

}

.div_usuario {

    width: 140px;
    z-index: 2;

}

#icone_usuario {

    height: 10.5vh;
    width: 74px;

}

#icone_usuario:hover {

    opacity: 0.5;

}



.opcoes_icone_usuario.on {

    display: block;
    position: absolute;
    top: 16.5vh;
    right: 7vw;
    border: black solid 1px;
    border-left-width: 0;
    border-right-width: 0;
    padding: 5px;
    border-radius: 5%;
    color: black;

}

.opcoes_icone_usuario.on nav {

    font-size: 2.4rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.opcoes_icone_usuario.on nav li:hover {

    opacity: 0.7;

}

.opcoes_icone_usuario {

    display: none;

}

#sair {

    color: black;

}

.conf_usuario {

    display: none;
    color: black;
    
}

.conf_usuario.on{

    display: block;
    position: absolute;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    top: 15.3vh;
    right: 20vw;
    color: black;

    width: 30vw;
    text-align: center;

}


.telas_e_expansao {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.8fr 1fr;

    width: 100%;
    height: 86vh;
    justify-content: space-evenly;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-items: center;

}

.tela_saldo {

    align-self: flex-end;

}

.tela_criar {

    align-self: flex-end;

}

.tela_graficos {

    align-self: flex-end;

}

.tela_transferencias {

    align-self: flex-end;

}

#titulo_transferencia,
#titulo_conta,
#titulo_grafico,
#titulo_saldo {

    font-size: 2rem;

}

#titulo_transferencia {

    margin-left: 4vw;
    font-size: 2rem;

}

#titulo_conta {

    margin-left: 1.4vw;

}

#titulo_grafico {

    margin-left: 1vw;

}

.tela_saldo {

    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 1/1;
    grid-row: 1/1;

}

.tela_saldo .div_formatacao_dados {

    display: none;

}

.tela_saldo #txt_saldo {

    display: none;

}

.tela_saldo .div_sair {

    display: none;

}

#fundo {

    background-color: #ECE9E6;
    opacity: 0.1;
    position: absolute;
    width: 18vw;
    height: 27vh;
    border-radius: 10%;
    z-index: -20;


}

#img_saldo {

    width: 70%;
    height: 84%;
    padding: 10px;

}

.tela_saldo.on {

    height: 80vh;
    min-height: 80vh;
    width: 55vw;
    min-width: 55vw;
    z-index: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

}

.div_formatacao_dados {
    
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;

}

.tela_saldo.on .div_sair {

    display: flex;
    width: 100%;
    justify-content: center;

}

#txt_fechar {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    padding: 5px;
    grid-row: 3/3;
    grid-column: 1/1;
    width: 15%;

}

.tela_saldo.on .div_formatacao_dados {

    display: grid;
    z-index: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    margin-bottom: -2vh;

    grid-row: 1/1;
}

.tela_saldo.on .div_formatacao_dados p {

    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.tela_saldo.on .div_formatacao_dados select {

    background-color: transparent;
    border: 0.3px black solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    width: 10vw;

}

.tela_saldo.on .div_formatacao_dados div {

    margin: 10px;
    margin-bottom: 2vh;

}

#div_categoria_receita {

    margin-left: 3vw;
    margin-bottom: 4vh;

}

#div_historico_despesa {

    margin-left: 3vw;

}

#div_historico_receita {

    margin-right: 0;
    margin-left: 3vw;

}

#div_categoria_despesa {

    margin-left: 3vw;
    margin-bottom: 4vh;


}



#select-historico_transferencia {

    margin-left: 2vw;

}

#select-saldo {

    grid-column: 1/1;
    grid-row: 1/1;

}

#select-banco {

    grid-column: 2/2;
    grid-row: 1/1;

}

#select-ultimas_receitas {

    grid-column: 3/3;
    grid-row: 1/1;

}

#select-ultimas_despesas {

    grid-column: 1/1;
    grid-row: 2/2;

}

#select-categorias_receitas {

    grid-column: 2/2;
    grid-row: 2/2;
}

#select-categorias_despesa {

    grid-column: 3/3;
    grid-row: 2/2;

}

#select-historico_receita {

    grid-column: 1/1;
    grid-row: 3/3;

}

#select-historico_despesa {

    grid-column: 2/2;
    grid-row: 3/3;

}

#select-historico_transferencia {

    grid-column: 3/3;
    grid-row: 3/3;

}

.tela_saldo.on img {

    display: none;

}

.tela_saldo .div_titulo {

    display: none;

}

.tela_saldo.on .div_titulo {

    display: block;
    width: 100%;
    min-width: 100%;
    grid-row: 1/1;

}

.tela_saldo.on #txt_saldo {

    display: block;
    text-align: center;
    align-self: flex-start;
    font-size: 3rem;
    width: 100%;
    margin-top: 0;

}

.tela_saldo.on #fundo {


    display: none;

}












.tela_graficos #txt_grafico {

    display: none;

}

.tela_graficos .div_formatacao_grafico {

    display: none;

}

.tela_graficos.on {

    height: 80vh;
    min-height: 80vh;
    width: 55vw;
    min-width: 45vw;
    display: flex;
    align-items: center;

}

.tela_graficos.on .div_formatacao_grafico {

    min-height: 100%;
    min-width: 100%;
    display: grid;
    align-items: center;
    align-content: space-between;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}


.tela_graficos.on .div_titulo_grafico {

    grid-column: 1/1;
    grid-row: 1/1;

}

#txt_pizza {

    display: none;

}

#txt_receita {

    display: none;

}

.tela_graficos.on .div_imgs_circulos {

    display: flex;
    flex-direction: row;
    grid-column: 1/1;
    grid-row: 3/3;
    margin-bottom: -6vh;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    margin-bottom: 4vh;


}


.tela_graficos.on #graficopizza {

    margin-bottom: 10vh;
    background-color: transparent;
    grid-column: 1/1;
    grid-row: 2/2;
    display: none;
    justify-self: center;

}


.tela_graficos.on #graficodespesas {

    margin-bottom: 10vh;
    background-color: transparent;
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: center;
    display: flex;
    /* Esse Foi O Escolhido A Aparecer */
}


.tela_graficos.on #graficoreceitas {

    grid-column: 1/1;
    grid-row: 2/2;
    display: none;
    margin-bottom: 10vh;
    justify-self: center;
    display: none;

}

.tela_graficos.on img {

    display: none;

}

.tela_graficos.on .div_imgs_circulos img{

    display: block;
    height: 40px;
    width: 40px;

}

.tela_graficos.on #txt_grafico {

    display: block;
    align-self: flex-start;
    font-size: 3rem;

}

.tela_graficos.on #fundo {


    display: none;

}



.div_sair2 {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-column: 1/1;

}

#txt_fechar2 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    padding: 5px;
    width: 12%;

}




.tela_graficos {

    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 2/2;
    grid-row: 1/1;

}

#img_grafico {

    width: 63%;
    height: 84%;
    

}







.tela_criar {

    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 3/3;
    grid-row: 1/1;
    flex-direction: column;

}

#img_criar_conta {

    margin-left: 2.8vw;
    width: 63%;
    height: 84%;
    margin-top: 3vh;
}

.tela_criar.on {


    height: 80vh;
    min-height: 80vh;
    width: 55vw;
    min-width: 45vw;



}

.tela_criar.on #fundo {

    display: none;

}

.tela_criar.on img {

    display: none;

}

.tela_criar .div_tipos_conta {

    display: none;
    width: 90%;
    height: 100%;

}

.tela_criar.on .div_tipos_conta {

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    min-width: 90%;

    min-height: 100%;
    height: 100%;

}

.tela_criar.on .div_tipos_conta img {

    display: block;
    height: 22%;
    width: 8vw;
    z-index: 10;

}

.div_sair3 {

    display: none;
    margin-top: -15vh;

}

.tela_criar.on .div_sair3 {

    display: flex;
    flex-direction: column;
    width: 24%;
    justify-content: center;
    align-items: center;
}

#txt_fechar3 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;

}






.tela_transferencias {
    
    display: flex;
    width: 18vw;
    height: 27vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 4/4;
    grid-row: 1/1;

}

.tela_transferencias .div_tipos_transacao {

    display: none;
    width: 90%;
    height: 100%;

}

.tela_transferencias .xiz {

    display: none;

}


#img_transferencia {

    width: 63%;
    height: 84%;
    margin-left: 40px;
    margin-top: 1.5vh;

}

.tela_transferencias.on {

    height: 80vh;
    min-height: 80vh;
    width: 55vw;
    min-width: 45vw;


}



.tela_transferencias.on #fundo {

    display: none;

}

.tela_transferencias.on #img_transferencia {

    display: none;  

}

.tela_transferencias.on .div_tipos_transacao {

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    min-width: 90%;

    min-height: 100%;
    height: 100%;

}

.tela_transferencias.on .div_tipos_transacao img {

    height: 22%;
    width: 10vw;
    z-index: 10;

}

.div_sair4 {

    display: none;

}

.tela_transferencias.on .div_sair4 {

    display: flex;
    flex-direction: column;
    width: 24%;
    justify-content: center;
    align-items: center;
    margin-top: -59px;

}

#txt_fechar4 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;

}



@media (max-width: 1260px) {

    .tela_saldo.on .div_formatacao_dados {

        margin-left: 0vw;
        margin-bottom: 0vh;
        font-size: 1.2rem;

    }

    .telas_e_expansao {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .tela_criar.on .div_tipos_conta img {

        min-width: 100px;
        min-height: 100px;

    }

    #img_criar_conta,
    #img_saldo,
    #img_grafico,
    #img_transferencia {

        min-width: 100px;
        min-height: 100px;

    }

    .tela_transferencias.on .div_tipos_transacao img {

        min-width: 100px;
        min-height: 100px;

    }

    .tela_graficos.on .div_imgs_circulos img {

        display: block;
        max-height: 40px;
        max-width: 40px;

    }

    .tela_saldo {

        grid-column: 1/1;
        grid-row: 1/1;

    }

    .tela_saldo.on {

        min-height: 62vh;
        height: 62vh;
        width: 80vw;

    }
    .tela_graficos.on {

        min-height: 60vh;
        height: 60vh;
        width: 80vw;

    }
    .tela_criar.on {

        min-height: 60vh;
        height: 60vh;
        width: 60vw;

    }
    .tela_transferencias.on {

        min-height: 60vh;
        height: 60vh;
        width: 60vw;

    }

    .tela_graficos {

        grid-column: 1/1;
        grid-row: 2/2;

    }

    .tela_criar {

        grid-row: 1/1;
        grid-column: 2/2;

    }

    .tela_transferencias {

        grid-column: 2/2;
        grid-row: 2/2;

    }

}


@media (min-width: 1010px) and (max-width: 1259px) {

    .tela_graficos.on #graficoreceitas {

        margin-bottom: 5vh;

    }
    .tela_graficos.on  #graficodespesas {

        margin-bottom: 5vh;

    }

    .tela_graficos.on #graficopizza {

        margin-bottom: 5vh;

    }

    .tela_saldo.on .div_formatacao_dados {

        margin-left: 0vw;
        margin-bottom: -9vh;
        font-size: 1.2rem;
        margin-right: 2vw;

    }

    .tela_saldo.on #txt_saldo {

        margin-top: 1vh;

    }

    .tela_saldo.on .div_formatacao_dados div {

        margin-right: 0;

    }

    .tela_saldo.on .div_formatacao_dados select {

        width: 13vw;

    }

    #img_grafico {

        width: 78%;
        max-width: 78%;
        height: 77%;
        max-height: 77%;

    }


    #img_transferencia {

        max-width: 80%;
        width: 80%;

    }

    #img_criar_conta {

        max-width: 73%;
        width: 73%;

    }

    #img_saldo {

        width: 80%;

    }

    .div_formatacao_dados {

        margin-left: 0vw;
        margin-bottom: 0vh;

    }


}

@media (max-width: 900px) {

    .telas_e_expansao div {

        min-height: 20vh;

    }

    #img_grafico {

        width: 95%;
        max-width: 95%;
        height: 77%;
        max-height: 77%;

    }

    #img_transferencia {

        max-width: 100%;
        width: 100%;
        margin-left: 0;

    }

    #img_criar_conta {

        max-width: 90%;
        width: 90%;

    }

    #img_saldo {

        width: 100%;
        padding: 0;

    }

}



@media (min-width: 100vw) {

    .opcoes_icone_usuario img {

        height: 18vh;
        width: 10vw;

    }

}

.telas_e_expansao img:hover {

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    transition: all 0.3s;

}

@media (max-width: 430px) {

    #icone_usuario {

        width: 50px;
        height: 50px;

    }

    #nome_do_app {

        font-size: 3rem;

    }

    .telas_e_expansao {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 's c'
                             'g t';

    }


    #img_criar_conta,
    #img_grafico,
    #img_transferencia {

        max-width: 90px;
        min-width: 65px;

        max-height: 85px;
        min-height: 60px;

    }

    #img_saldo {

        max-width: 95px;
        min-width: 65px;

        max-height: 95px;
        min-height: 60px;

    }

    .tela_saldo {

        grid-area: s;

    }


    /* .tela_saldo.on {

        grid-area: son;


    } */

    .tela_graficos {

        grid-area: g;

    }

    /* .tela_graficos.on {

        grid-area: gon;


    } */

    .tela_criar {

        grid-area: c;

    }

    /* .tela_criar.on {

        grid-area: con;


    } */

    .tela_transferencias {

        grid-area: t;

    }

    /* .tela_transferencias.on {

        grid-area: ton;


    } */

}