/*
===========================================================================================

Sumário No Final da Página 

11 - Cabeçalho Com As Opçoes Home, Metas, Transações, Configuração

===========================================================================================
*/

html, body {

    margin: 0;
    font-size: 62.5%;
    

}

.formatacao_cabecalho {

    justify-content: center;
    align-items: center;

}

.cabecalho {

    display: flex;
    flex-direction: row;
    opacity: 1;
    color: white;
    width: 90%;
    height: 14vh;

    margin: auto;

    text-align: center;
    align-items: center;
    justify-content: space-between;

}

.fundo_opaco {

    background-color: #333335;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 14vh;
    width: 100%;
    z-index: -10;

}

#nome_do_app {

    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;


}

.div_usuario {

    width: 200px;

}

#icone_usuario {

    height: 9vh;
    width: 80px;

}

#icone_usuario:hover {

    opacity: 0.5;

}



.opcoes_icone_usuario.on {

    display: block;
    position: absolute;
    top: 16.5vh;
    right: 7vw;
    border: black solid 1px;
    border-left-width: 0;
    border-right-width: 0;
    padding: 5px;
    border-radius: 5%;

}

.opcoes_icone_usuario.on nav {

    font-size: 2.4rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.opcoes_icone_usuario.on nav li:hover {

    opacity: 0.7;

}

.opcoes_icone_usuario {

    display: none;

}

.telas_e_expansao {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    width: 100%;
    height: 86vh;
    justify-content: space-evenly;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-items: center;

}





.tela_saldo {

    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 1/1;
    grid-row: 1/1;
    min-width: 13vw;
    min-height: 20vh;

}

#fundo {

    position: absolute;
    width: 18vw;
    height: 27vh;
    border-radius: 10%;

    min-width: 13vw;
    min-height: 20vh;

}

#img_saldo {

    width: 12vw;
    height: 23vh;

}

.tela_saldo.on {

    height: 80vh;
    width: 100vw;

}




.tela_graficos {

    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 2/2;
    grid-row: 1/1;
    min-width: 13vw;
    min-height: 20vh;

}

#img_grafico {

    width: 12vw;
    height: 23vh;
    
    min-width: 10vw;
    min-height: 18vh;

}



.tela_criar_conta {

    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 3/3;
    grid-row: 1/1;
    min-width: 13vw;
    min-height: 20vh;

}

#img_criar_conta {

    margin-left: 2.8vw;
    width: 12vw;
    height: 23vh;
    min-width: 10vw;
    min-height: 18vh;

}



.tela_transferencias {
    
    display: flex;
    width: 18vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 4/4;
    grid-row: 1/1;
    min-width: 13vw;
    min-height: 20vh;

}

#img_transferencia {

    width: 12vw;
    height: 23vh;
    min-width: 10vw;
    min-height: 18vh;

}

@media (min-width: 100vw) {

    .opcoes_icone_usuario img {

        height: 18vh;
        width: 10vw;

    }

}

.btn:link,
.btn:visited {
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* .btn-white {
    background-color: black;
    opacity: 0.9;
    color: #333335;
} */

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.btn-white::after {
    opacity: 0.9;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}