html, body {

    margin: 0;
    font-size: 62.5%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    
}

.global {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.transferir {

    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 0.2rem black solid;
    border-radius: 1%;
    height: 92vh;
    min-height: 92vh;
    width: 30vw;
    
}


.cabecalho {

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: black;

}

.xiz {

    width: 40px;
    height: 0px;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#one,
#two {

    background-color: black;
    height: 3px;
    width: 90%;


}

.xiz #one {

    transform: rotate(45deg) translate(-1px, 1px);

}

.xiz #two {

    transform: rotate(-45deg) translate(1px, -5px);

}










@media (min-height: 680px) {

    html {

        font-size: 72.5%;

    }


}

@media (min-height: 900px) {

    html {

        font-size: 82.5%;

    }

    .description {

        margin-bottom: 1vh;

    }

    .valor_e_data {

        margin-bottom: 1vh;

    }

    .conta_e_categoria {

        margin-bottom: 1vh;

    }

}