
html, body {

    margin: 0;
    font-size: 62.5%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    
}

.global {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.receita {

    background: #AAFFA9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 0.2rem black solid;
    border-radius: 1%;
    height: 92vh;
    min-height: 92vh;
    width: 30vw;


}

.cabecalho {

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: black;

}


.xiz {

    width: 40px;
    height: 0px;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#one,
#two {

    background-color: black;
    height: 3px;
    width: 90%;


}

.xiz #one {

    transform: rotate(45deg) translate(-1px, 1px);

}

.xiz #two {

    transform: rotate(-45deg) translate(1px, -5px);

}

.formulario_receita {

    display: flex;
    flex-direction: column;
    align-content: space-around;

}

.div_titulo_description {

    width: 90%;
    margin: auto;
    font-size: 1.4rem;
    height: 6vh;
    color: #333335;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0vh;

}

.description {

    width: 90%;
    margin: auto;
    margin-bottom: 0.5vh;
    
}

.description input {
    
    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    background-color: transparent;
    font-size: 1.2rem;
    width: 70%;
    font-family: 'Roboto', sans-serif;

}

.div_titulo_valor_e_data {

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;
    height: 44px;
    margin-bottom: 2vh;

}


#titulo2_valor_e_data {

    margin-left: 15.4vw;

}

.div_titulo_conta_e_categoria {

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;
    height: 41px;
    margin-bottom: 1.5vh;

}

#titulo2_conta_e_categoria {

    margin-left: 15vw;

}

.valor_e_data {

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5vh;
    
}

.valor_e_data input {
    
    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    background-color: transparent;
    font-size: 1.2rem;
    width: 9vw;
    font-family: 'Roboto', sans-serif;

}

.conta_e_categoria {

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.8vh;

}

.conta_e_categoria select {
    
    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    background-color: transparent;
    font-size: 1.2rem;
    width: 9vw;

}

.div_titulo_tipo {

    display: flex;
    width: 90%;
    margin: auto;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;

}

.tipo_de_receita {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3vh;
    width: 90%;
    align-items: start;
    margin: auto;

}

.tipo_de_receita input {

    grid-row: 1/1;
    background-color: transparent;

}

.tipo_de_receita h4 {

    grid-row: 1/1;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    margin: 1px;

}

.div_check1 {

    grid-column: 1/1;
    display: flex;
    flex-direction: row;
}

.div_check2 {

    grid-column: 2/2;
    display: flex;
    flex-direction: row;

}

.div_check3 {

    grid-column: 3/3;
    display: flex;
    flex-direction: row;

}

.div_tipo_pontual {

    display: none;
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-top: 4vh;

}

.div_observacao {

    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;

}

#txt_observacao {

    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    background-color: transparent;
    color: #333335;
    height: 3vh;

}

.div_tipo_fixa {

    display: none;
    width: 90%;
    margin: auto;

}

.div_regularidade {

    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #333335;
    display: flex;
    flex-direction: column;

}

#select_regularidade {

    background-color: transparent;
    border: 1px black solid;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    width: 9vw;

}



.div_salvar_sair {
 
    width: 90%;
    height: 5vh;
    margin: auto;
    margin-top: 5vh;

}

.div_botoes {

    display: flex;
    width: 27vw;
    height: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 8vh;

}

#adicionar {

    background-color: #00d2ff;
    color: white;
    border: 0;
    border-radius: 10%;
    height: 5vh;
    width: 4vw;
}

#resetar {

    background-color: #e43a15;
    color: white;
    border: 0;
    border-radius: 10%;
    height: 5vh;
    width: 4vw;

}





::-moz-placeholder {  /* Firefox 19+ */

    font-size: 1.2rem;
}



.despesa {

    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.transferencias {

    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

@media (min-height: 730px) {

    html {

        font-size: 72.5%;

    }


}

@media (min-height: 900px) {

    html {

        font-size: 82.5%;

    }

    .description {

        margin-bottom: 1vh;

    }

    .valor_e_data {

        margin-bottom: 1vh;

    }

    .conta_e_categoria {

        margin-bottom: 1vh;

    }

}