<!-- users/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title%} {% endblock %}</title>
    <link href="{% static 'css/users.css' %}" rel='stylesheet'>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(graficodespesas);
        google.charts.setOnLoadCallback(graficoreceitas);

        function drawChart(){

            let a = ('{{graficobancos | safe}}');

            const container = document.querySelector('#graficopizza')
            const data = new google.visualization.arrayToDataTable(JSON.parse(a))
            
            const options = {
                title: 'Saldo por banco',
                height:500,
                weight:500,
            }

            const chart = new google.visualization.PieChart(container)
            chart.draw(data, options)
        }

        function graficodespesas(){
            let b = ('{{graficodespesas | safe}}');
            const container = document.querySelector('#graficodespesas')
            let data = new google.visualization.arrayToDataTable(JSON.parse(b))            
            const options = {
                // set annotation for -- No Data Copy
                annotations: {
                // remove annotation stem and push to middle of chart
                stem: {
                    color: 'transparent',
                    length: 120
                },
                title: 'Despesas Recentes',
                color: '#edf7ff',
                height:300,
                weight:100,
                }
            };
        
            if (data.getNumberOfRows() === 0) {
                data.addRows([
                    ['', 0, null, 'No Data Copy']
                ]);
            }
            const chart = new google.visualization.ColumnChart(container)
            chart.draw(data, options)
        }

        function graficoreceitas(){
            let c = ('{{graficoreceitas | safe}}');
            const container = document.querySelector('#graficoreceitas')
            const data = new google.visualization.arrayToDataTable(JSON.parse(c))            
            const options = {
                // set annotation for -- No Data Copy
                annotations: {
                // remove annotation stem and push to middle of chart
                stem: {
                    color: 'transparent',
                    length: 120
                },
                title: 'Receitas Recentes',
                curveType: 'function',
                height:300,
                weight:100,
                }
            };

            const chart = new google.visualization.BarChart(container)
            chart.draw(data, options)
        }


    </script>
    <style>
        label, input {
            display: block;
        }
        span.helptext {
            display: none;
        }
    </style>
</head>
<body>
<div class="barra_logo">    
    <h1 class="nome_barra">FINANCR</h1>
</div>
{% block content %}
{% endblock %}
</div>    
</body>
<div class="rodape_base">    
    <p>© 2021 Financr LTDA. Todos os direitos reservados</p>
</div>
</html>