{% load static %}
<!DOCTYPE html>
<html lang = "pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financr</title>
    <link rel="stylesheet" href="{% static 'financr/css_transacoes/style2.css' %}">

    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Roboto Muito Fino -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 

</head>
<body>
    
    <div class="global">

        <div class="despesa">

            <div class="cabecalho">

                <h1>Nova Despesa</h1>

                <a href="{% url 'app_home' %}">
                <div class="xiz">
                    <div id = 'one' > </div>
                    <div id = 'two' > </div>
                </div>
                </a>

            </div>

            <form method="POST" class = 'formulario_receita'>
                {% csrf_token %}

                <div class="div_erros">
                    {{ form.errors }}
                </div>
                
                <div class="div_titulo_description">
                    <h4 id = 'titulo_description'>
                        Descrição
                    </h4>
                </div>

                <div class = "description">
                    {{form.descricao}}
                    <!-- <input type="text" name="descricao" id="txt_description"> -->

                </div>

                <div class="div_titulo_valor_e_data">
                    <h4 id = 'titulo_valor_e_data'>
                        Valor
                    </h4>

                    <h4 id = 'titulo2_valor_e_data'>
                        Data
                    </h4>
                </div>

                <div class = "valor_e_data">
                    {{form.valor}}
                    {{form.data_transacao}}
                    <!-- <input type="number" step="0.01" name = "valor" id = "txt_value">
                    <input type="date" name = "data_transacao" id = "data_transacao"> -->

                </div>

                <div class="div_titulo_conta_e_categoria">
                    <h4 id = 'titulo_conta_e_categoria'>
                        Conta
                    </h4>

                    <h4 id = 'titulo2_conta_e_categoria'>
                        Categoria
                    </h4>
                </div>

                <div class = "conta_e_categoria">
                    {{form.conta}}
                    {{form.categoria_transacao}}
                    <!-- <select name = "conta" id = "select_conta"></select>
                    <select name = "categoria_transacao" id = "select_categoria"></select> -->

                </div>

                <div class="div_titulo_tipo">
                    <h4 id = 'titulo_tipo'>
                        Tipo De Despesa
                    </h4>
                </div>

                <div class="tipo_de_despesa">
                    {{form.tipo_transacao}}
                    <div class="div_check1">
                        <input type="checkbox" name = "tipo_transacao1" id = "check1" value = "pontual" >
                        <h4 id = 'pontual'> Débito </h4>
                    </div>

                    <div class="div_check2">
                        <input type="checkbox" name = "tipo_transacao2" id = "check2" value = "fixa" >
                        <h4 id = 'fixa'> Débito Automático</h4>
                    </div>

                    <div class="div_check3">
                        <input type="checkbox" name = "tipo_transacao3" id = "check3" value = "parcelada" >
                        <h4 id = 'parcelada'> Crédito</h4>
                    </div>

                    
                </div>


                <div class="div_tipo_parcelada">

                    <div class="div_regularidade_parcelas">

                        <div class="div_regularidade">

                            <h4 id = 'txt_regularidade'> Regularidade </h4>
                            {{form.regularidade}}
                            
                            <!-- <select name="" id = "select_regularidade">
                                <option value="mensal"> Mensal </option>
                                <option value="semanal"> Semanal </option>
                                <option value="diario"> Diário </option>
                                <option value="anual"> Anual </option>
                            </select> -->
    
                        </div>
    
                        <div class="div_numero_de_parcelas">
    
                            <h4 id = 'txt_numero_parcelas'> Número De Parcelas </h4>
                            {{form.num_parcelas}}
                            <!-- <input type = "number" name = "" id = "input_numero_de_parcelas"> -->
    
                        </div>

                    </div>

                    <div class="div_observacao">

                        <h4 id = 'h4_observacao'> Observação </h4>
                        {{form.observacoes}}

                        <!-- {{form.observacoes}} -->
                        <!-- <input type="text" name = "observacoes" id = "txt_observacao"> -->
            
                    </div>

                </div>



                <div class="div_salvar_sair">

                    <div class="div_botoes">

                        <input type="submit" value = "Adicionar" id = 'adicionar'>

                        <input type = "reset" value = "Resetar" id = 'resetar'>

                    </div>

                </div>



            </form>

        </div>

        


    </div>

    <script src = "{% static 'financr/arquivos_js/js_transacoes/roteiro2.js' %}"></script>

</body>
</html>