{% load static %}
<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financr</title>
    <link rel="stylesheet" href="{% static 'financr/css_transacoes/style3.css' %}">

    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Roboto Muito Fino -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 

</head>
<body>

    <div class="global">

        <div class="transferir">

            <div class="cabecalho">

                <h1>Nova Transferência</h1>

                <a href="app">
                <div class="xiz">
                    <div id = 'one' > </div>
                    <div id = 'two' > </div>
                </div>
                </a>

            </div>

        </div>

    </div>
    
</body>
</html>