{% load static %}
<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'financr/css_da_home_do_webapp/estilo.css' %}">

    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Roboto Muito Fino -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 

    <title>Início</title>
</head>
<body>

    <div class="global">

        <div class="formatacao_cabecalho">
            <div class = "cabecalho">

                <div class="div_nome_app">

                    <h4 id = 'nome_do_app' style = "color: black; margin-top: 14vh;">- Financr -</h4>

                </div>

                <div class="div_usuario">

                    <img src = "{% static 'financr/img/imagens_para_home_do_webapp/settings-black.png' %}" alt = "ícone de Usuario" id = 'icone_usuario' style = "margin-top: 4vh">

                </div>

                
            </div>
        </div>

        <div class = "opcoes_icone_usuario">

            <nav style = 'list-style: none;' id = 'nav_opcoes_icone_usuario'>

                <li id = 'dados'> Usuario </li>
                <li id = 'configuracoes'> Configurações </li>
                <li id = 'sair'> Sair </li>

            </nav>

        </div>

        <div class = "conf_usuario">

            <h4> < Olá, {{ user.username|default:'Guest' }} > </h4>
            <h4> < Seu Email: > <br>< Email Não inserido > </h4>

        </div>

        <!-- Telas Maiores  -->

        <div class = "telas_e_expansao">


            <div class="tela_saldo">

                <div id = "fundo"></div>
                <img src = "{% static 'financr\img\imagens_para_home_do_webapp\saldo.png' %}" alt = "Uma seta girando ao redor de um símbolo de dinheiro específico para a moeda do real" id = 'img_saldo'>
                <h4 id = 'txt_saldo'>SALDO</h4>

            </div>

            <div class = "tela_graficos">

                <div id = "fundo"></div>
                <img src="{% static 'financr\img\imagens_para_home_do_webapp\grafico.png' %}" alt="Ícone de um gráfico onde tem uma seta subindo por cima de várias colunas de diversos tamanhos" id = 'img_grafico'>
                <h4 id = 'txt_grafico'>GRÁFICO</h4>

            </div>

            <div class = "tela_criar">

                <div id = "fundo"></div>
                <img src="{% static 'financr\img\imagens_para_home_do_webapp\criar_conta.png' %}" alt = "Ícone de Criar Conta, uma figura de aparência humana com um símbolo de mais/adicionar" id = 'img_criar_conta'>
                <div class="div_tipos_conta">

                    <a href = "{% url 'criar-conta' %}"> <img src = "{% static 'financr\img\imagens_para_criar_conta\adicionar.png' %}" alt=""> </a>
                    <!-- Lyolya -->

                    <img src="{% static 'financr\img\imagens_para_criar_conta\editar.png' %}" alt="">
                    <!-- Freepik -->

                    <img src="{% static 'financr\img\imagens_para_criar_conta\excluir.png' %}" alt="">

                </div>

            </div>

            <div class = "tela_transferencias">

                <div id = "fundo"></div>
                <img src = "{% static 'financr\img\imagens_para_home_do_webapp\transferir.png' %}" alt = "Ícone que representa uma transferência, uma seta para a direita(lado 1) e outra para esquerda (lado 2)" id = 'img_transferencia'>
                <div class="div_tipos_transacao">

                    <a href = "{% url 'adicionar' %}"> <img src="{% static 'financr\img\imagens_para_home_do_webapp\adicao.png' %}" alt=""> </a>

                    <a href = "{% url 'subtrair' %}"> <img src="{% static 'financr\img\imagens_para_home_do_webapp\subtracao.png' %}" alt=""></a>

                    <a href = "{% url 'transferir' %}"> <img src="{% static 'financr\img\imagens_para_home_do_webapp\transferencia2.png' %}" alt=""></a>
                    <!-- Vitaly Gorbachev -->



                </div>

            </div>




        </div>

    </div>


    <script src = "{% static 'financr/arquivos_js/js_da_home_do_webapp/script.js' %}"></script>
</body>
</html>